In [3]:
import numpy as np
import pandas as pd
df = pd.read_csv('dummied_basic_features.csv',index_col=0)
df

/Users/jizngziwei/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DevType,JobSatisfaction,JobSearchStatus,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,PlatformWorkedWith,PlatformDesireNextYear,IDE,India,...,Below Bachelor_EducationParents,Master_EducationParents,PhD._EducationParents,18 - 24 years old,25 - 34 years old,35 - 44 years old,45 years or older,Under 18 years old,No_Dependents,Yes
0,Full-stack developer,6.0,"I’m not actively looking, but I am open to new...",JavaScript;Python;HTML;CSS,JavaScript;Python;HTML;CSS,Redis;SQL Server;MySQL;PostgreSQL;Amazon RDS/A...,AWS;Azure;Linux;Firebase,AWS;Azure;Linux;Firebase,Komodo;Vim;Visual Studio Code,0,...,0,0,0,0,1,0,0,0,0,1
1,Database administrator;DevOps specialist;Full-...,1.0,I am actively looking for a job,JavaScript;Python;Bash/Shell,Go;Python,Redis;PostgreSQL;Memcached,Linux,Linux,IPython / Jupyter;Sublime Text;Vim,0,...,0,0,0,0,0,1,0,0,0,1
2,Engineering manager;Full-stack developer,5.0,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
3,Full-stack developer,3.0,"I’m not actively looking, but I am open to new...",C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Azure,Azure,Visual Studio;Visual Studio Code,0,...,1,0,0,0,0,1,0,0,1,0
4,Data or business analyst;Desktop or enterprise...,4.0,"I’m not actively looking, but I am open to new...",C;C++;Java;Matlab;R;SQL;Bash/Shell,Assembly;C;C++;Matlab;SQL;Bash/Shell,SQL Server;PostgreSQL;Oracle;IBM Db2,Arduino;Windows Desktop or Server,Arduino;Windows Desktop or Server,Notepad++;Visual Studio;Visual Studio Code,0,...,1,0,0,1,0,0,0,0,0,1
5,Back-end developer;Database administrator;Fron...,5.0,I am actively looking for a job,Java;JavaScript;Python;TypeScript;HTML;CSS,C#;Go;Java;JavaScript;Python;SQL;TypeScript;HT...,MongoDB,Linux,Linux,IntelliJ;PyCharm;Visual Studio Code,0,...,1,0,0,1,0,0,0,0,1,0
6,Back-end developer;Front-end developer;Full-st...,4.0,"I’m not actively looking, but I am open to new...",JavaScript;HTML;CSS,C;Go;JavaScript;Python;HTML;CSS,MongoDB,Linux,Linux,Atom;Visual Studio Code,0,...,0,1,0,1,0,0,0,0,1,0
7,Designer;Front-end developer;QA or test developer,4.0,"I’m not actively looking, but I am open to new...",JavaScript;TypeScript;HTML;CSS,Matlab;SQL;Kotlin;Bash/Shell,"MongoDB;MySQL;Microsoft Azure (Tables, CosmosD...",Azure;Heroku,Amazon Echo;Android;Apple Watch or Apple TV;AW...,Atom;Notepad++;Sublime Text;Visual Studio Code,0,...,1,0,0,0,1,0,0,0,1,0
8,"Back-end developer;C-suite executive (CEO, CTO...",5.0,"I’m not actively looking, but I am open to new...",Assembly;CoffeeScript;Erlang;Go;JavaScript;Lua...,Erlang;Go;Python;Rust;SQL,Redis;PostgreSQL;Amazon DynamoDB;Apache HBase;...,Amazon Echo;AWS;iOS;Linux;Mac OS;Serverless,AWS;Linux;Mac OS;Serverless,IntelliJ;PyCharm;Sublime Text;Vim,0,...,1,0,0,0,0,1,0,0,0,1
9,Designer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
10,Back-end developer;Database administrator;Mobi...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
11,Back-end developer;Front-end developer;Full-st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
12,Back-end developer;Front-end developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
13,Back-end developer;Full-stack developer,6.0,"I’m not actively looking, but I am open to new...",Java,Java;Python,MongoDB;MySQL;Oracle;MariaDB;Elasticsearch,Linux,Linux,Eclipse;NetBeans,1,...,0,0,0,0,0,0,0,0,0,0
14,Back-end developer;Front-end developer;Student,3.0,"I’m not actively looking, but I am open to new...",Java;JavaScript;PHP;VB.NET;HTML;CSS,NaN,SQL Server;MySQL,Windows Desktop or Server,NaN,Notepad++;Visual Studio,0,...,1,0,0,1,0,0,0,0,1,0
15,Full-stack developer,1.0,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
16,Student,NaN,I am actively looking for a job,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
17,Back-end developer,5.0,"I’m not actively looking, but I am open to new...",C#;SQL;HTML;CSS;Bash/Shell,C#;F#;Haskell;SQL;Ocaml,SQL Server,Linux;Windows Desktop or Server,Linux;Windows Desktop or Server,Visual Studio;Visual Studio Code,0,...,0,0,0,0,0,1,0,0,0,1
18,Data or business analyst;Data scientist or mac...,4.0,"I’m not actively looking, but I am open to new...",C;C++;C#,Python;R,NaN,NaN,Azure;ESP8266;Gaming console,Android Studio;Coda;Xcode,1,...,1,0,0,0,0,0,0,0,0,0
19,Back-end developer;Front-end developer;Full-st...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
20,Database administrator;Full-stack developer;Mo...,4.0,"I’m not actively looking, but I am open to new...",C;C++;Go;Python;SQL;Swift,C;C++;Go;Python;SQL;Swift;Kotlin,Redis;PostgreSQL;SQLite,Android;AWS;iOS;Linux;Mac OS;Firebase,Android;AWS;Google Cloud Platform/App Engine;i...,Android Studio;Sublime Text;Visual Studio Code...,0,...,0,0,0,0,0,1,0,0,0,1
21,Back-end developer;Desktop or enterprise appli...,6.0,"I’m not actively looking, but I am open to new...",C;C++;C#;Groovy;JavaScript;Python;SQL;HTML;CSS...,C;C++;JavaScript;Python;HTML;CSS;Bash/Shell,SQL Server;MySQL;SQLite,Linux;Mac OS;Windows Desktop or Server,Linux;Mac OS;Windows Desktop or Server,Visual Studio;Visual Studio Code,0,...,0,0,0,0,0,0,1,0,0,1
22,Back-end developer;Database administrator;Desi...,4.0,I am not interested in new job opportunities,C#;JavaScript;PHP;SQL;HTML;CSS,C#;JavaScript;PHP;SQL;HTML;CSS,MySQL,Linux;Mac OS;Windows Desktop or Server,Linux;Mac OS;Windows Desktop or Server,Notepad++;Visual Studio;Visual Studio Code,0,...,0,0,0,0,1,0,0,0,1,0
23,Back-end developer;Database administrator;DevO...,2.0,"I’m not actively looking, but I am open to new...",JavaScript;PHP;SQL;HTML;CSS;Bash/Shell,PHP;Bash/Shell,MongoDB;MySQL;MariaDB;Amazon RDS/Aurora,NaN,Android;Arduino;Google Home;Linux;Raspberry Pi,Atom;Notepad++;PHPStorm,0,...,1,0,0,0,0,0,1,0,0,1
24,Mobile developer,5.0,"I’m not actively looking, but I am open to new...",C;C++;Java;JavaScript;SQL;Swift;Kotlin,Java;JavaScript;Swift;Kotlin,SQL Server;MySQL,Android;iOS;Firebase,Android;iOS;Firebase,Android Studio;Eclipse;IntelliJ;Notepad++;Subl...,1,...,0,0,0,0,1,0,0,0,1,0
25,Full-stack developer,2.0,"I’m not actively looking, but I am open to new...",Java;JavaScript;PHP;SQL;TypeScript;HTML;CSS,Python;Scala,NaN,Android;Linux,NaN,Android Studio;NetBeans;Visual Studio,0,...,0,0,0,0,0,1,0,0,0,1
26,Front-end developer;Full-stack developer,5.0,"I’m not actively looking, but I am open to new...",C#;Java;JavaScript;PHP;SQL;HTML;CSS,JavaScript;HTML;CSS,Memcached;Google BigQuery,NaN,NaN,Visual Studio Code,0,...,1,0,0,0,1,0,0,0,0,1
27,Back-end developer;Full-stack developer,5.0,I am not interested in new job opportunities,C#;JavaScript;SQL;HTML;CSS,C#;Java;JavaScript;Ruby;TypeScript;HTML;CSS,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...",Azure,Arduino;Azure;Raspberry Pi,Notepad++;Visual Studio;Visual Studio Code,0,...,0,1,0,0,1,0,0,0,1,0
28,Back-end developer;Data scientist or machine l...,6.0,I am not interested in new job opportunities,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
29,Back-end developer;Front-end developer;Full-st...,3.0,"I’m not actively looking, but I am open to new...",C#;Java;JavaScript;PHP;TypeScript;HTML;CSS,C#;Java;JavaScript;PHP;TypeScript;HTML;CSS,MySQL;Google Cloud Storage,Amazon Echo;Mac OS;WordPress;Firebase,Firebase,NaN,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98831,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98832,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98833,Back-end developer;QA or test developer;Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98834,Back-end developer;Designer;Student,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98836,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98837,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98842,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98845,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98848,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98850,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98851,Back-end developer;Front-end developer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,...,0,0,0,0,0,0,0,0,0,0
98853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0
98854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
import re